.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #121409;
  color: #fff;
  border: none;
  padding: 0.5rem 0;

  &__quantity {
    color: #121409;
  }
}

.button-has-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  color: #007fff;
  font-weight: bold;
  border: none;
  padding: 0.5rem 0;
  border-radius: 25px;
  gap: 0.8rem;
}

.button:hover,
.button:active,
.button:focus {
  border: 2px solid #c3591a;

  .button__quantity {
    background: #ffe759;
    color: #121409;
    outline: 1px solid #c3591a;
  }
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}

.icon-big {
  width: 2rem;
  height: 2rem;
}

.icon-red {
  color: #d52802;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
