.plp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem;
}

.categories {
  display: grid;
  //justify-content: space-between;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  height: 3.5rem;
  background: #0e4f4b;
  color: #fff;

  & p,
  &__filter {
    padding: 0.4rem 1rem;

    & label svg {
      width: 0.7rem;
      height: 0.7rem;
    }
  }

  & select {
    appearance: none;
  }

  & label {
    margin-right: 0.3rem;
  }
}
